# Agenda
# While loop
# Question on while loop
# Functions 
# Lambda
# Map function
# Filter function
# Reduce function

# Loops
# For Loop: When I know the number of times, i nedd to run the loop
# While Loop: When I don't know the number of times the loop is required to executed but we know that the loop will run until cretain condition is true/.

In [2]:
for i in range(0,10):
    print("Sumit")

Sumit
Sumit
Sumit
Sumit
Sumit
Sumit
Sumit
Sumit
Sumit
Sumit

In [3]:
# condition: I will run the loop until a less than or equals 10

a = 0
while a<10:
    print("sumit")
    a+=1

sumit
sumit
sumit
sumit
sumit
sumit
sumit
sumit
sumit
sumit
sumit

In [8]:
# Additional keywords

# break
# Continue
# pass

# I wanted to print the value of a for each iteration and I wanted to stop the loop when my a becomes 5
a =0

while a<=10:
    a+=1
    if a ==5:
        print("The value of a is 5 now")
        break
    else:
        continue

The value of a is 5 now

In [11]:
# Pass

l1 = [2,4,6,4,2,6,6,8,9,5,3,7,7]
l2 = []

for i in l1:
    if i%2==0:
        l2.append(i)
    else:
        pass

In [12]:
l2

[2, 4, 6, 4, 2, 6, 6, 8]

In [16]:
## Example:

# run the loop for number between 1 and 50 and 
# print "fizz", if the number id divisible by 3
# print "buzz", if the number id divisible by 5
# print "fizzbuzz", if the number is divisible by both 3 and 5

for i in range(1, 51):
    if i%3==0 and i%5==0:
        print("fizbuzz")
    elif i%3 ==0:
        print("buzz")
    elif i%5 ==0:
        print("fizz")
    else:
        continue

buzz
fizz
buzz
buzz
fizz
buzz
fizbuzz
buzz
fizz
buzz
buzz
fizz
buzz
fizbuzz
buzz
fizz
buzz
buzz
fizz
buzz
fizbuzz
buzz
fizz

In [33]:
## Fibonacci Series
# 1,1,2,3,5,8,13,21,34
fib = [1]
x,y = 0,1
i = 0
while i<9:
    i+=1
    fib.append(x+y)
    x,y = y,x+y

In [34]:
fib

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

## list comprehensions

In [35]:
l1 = [1,2,3,4,5,6]
# [2,4,6,8,10,12]

# Method-1
l2 = []
for i in l1:
    l2.append(i*2)

In [36]:
l2

[2, 4, 6, 8, 10, 12]

In [37]:
## Method-2
[i*2 for i in l1]
# [output, mention the location of i, condition on i]

[2, 4, 6, 8, 10, 12]

In [40]:
l1 = list(range(0,51))

In [41]:
# method-1

l2 = []
for i in l1:
    if i%2==0:
        l2.append(i)
l2

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50]

In [43]:
## method-2

[i for i in l1 if i%2==0]

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50]

In [48]:
## 
l1 = ["sumit", 'shukla', 1, 1.8, True, [1,2,3]]
# Check if the input list is having a sublist or not?
if len([i for i in l1 if type(i)==list]) !=0:
    print("Yes the input list have a sublist")
else:
    print("No it's not having the sublist")

Yes the input list have a sublist

In [49]:
[i for i in l1 if type(i)==list]

[[1, 2, 3]]

In [53]:
## List comprehension with nested loops

sample_list = ['p', 'q']
n =5
# Sample Output : ['p1', 'q1', 'p2', 'q2', 'p3', 'q3', 'p4', 'q4', 'p5', 'q5']

## Method-1

for i in range(1,n+1):
    for j in sample_list:
        print("{}{}".format(j,i))

p1
q1
p2
q2
p3
q3
p4
q4
p5
q5

In [55]:
["{}{}".format(j,i) for i in range(1, n+1) for  j in sample_list]

['p1', 'q1', 'p2', 'q2', 'p3', 'q3', 'p4', 'q4', 'p5', 'q5']

In [57]:
a = "sumit"
b = 'shukla'
print("ny name is {} {}".format(a,b))

ny name is sumit shukla

In [58]:
## Comprehension with dictionary

# {1:2, 2:4, 3:6, 4:8, 5:10}

# Method-1

d1={}
for i in range(1, 6):
    d1[i] = i*2
d1

{1: 2, 2: 4, 3: 6, 4: 8, 5: 10}

In [59]:
{i:i*2 for i in range(1,6)}

{1: 2, 2: 4, 3: 6, 4: 8, 5: 10}

## Functions

In [ ]:
# Named function : def
# Lambda

In [61]:
l1 = [4,5,8,3,7,9,6,3,2]
# filter out the elements that are divisible by 2

def list_even(l):
    l2 = []
    for i in l:
        if i%2==0:
            l2.append(i)
    return l2

In [62]:
list_even(l1)

[4, 8, 6, 2]

In [64]:
list_even([6,7,8,4,5,6,7,7])

[6, 8, 4, 6]

In [67]:
# Write a function that takes the input as the list of strings and return the list of string in title format

#["sumit", "shukla", "pyhton", "sessiom"]
#['Sumit', "Shukla", "Python", "Session"]

def title_list(l):
    l1 = [i.title() for i in l]
    print(l1)

In [68]:
title_list(["sumit", "shukla", "pyhton", "sessiom"])

['Sumit', 'Shukla', 'Pyhton', 'Sessiom']

In [78]:
# Write a function that takes a input as the list of integers and returns even numbers

def list_even(l):
    l2 = [i for i in l if i%2==0]
    return l2

In [79]:
a = list_even([1,2,6,7,8,9,4,5,3])

In [80]:
a

[2, 6, 8, 4]

In [81]:
type(a)

list

# Write a function that takes input as a integer value and return "Even" if the number is divisible by2, return "No", if the number is divisible by5 else return "never"

In [90]:
def play(n):
    if n%2==0 and n%5==0:
        return "never"
    elif n%2==0:
        return "even"
    elif n%5==0:
        return 'div_5'
    else:
        return "no"

In [94]:
play(8)

'even'

In [95]:
# Write a function that takes two values x and y and return x*x and y*y

def mul_x_y(x,y):
    return x*x, y*y

In [97]:
a,b = mul_x_y(2,4)

In [98]:
a

4

In [99]:
b

16

In [120]:
## Map function

l1 = [1,2,3,4,5,6]
# [2,4,6,8,10,12]

# method-1
# use the regular for loop

# method-2
# list comprehensions


# map function
# it will apply a function to each element of a list

def mul_2(x):
    return x*2

# list(map(mul_2, l1))

list(map(lambda x:x*2, l1))

[2, 4, 6, 8, 10, 12]

In [104]:
# Example:

l1 = ["sumit", "rakesh", "mahesh", "ajay", "deepak", "3ishwar"]

# Return a new list of complete email address using the usernames given the list l1 if the username starts with a letter
# else return "invalid username"

def email(x):
    if x[0] in "0123456789":
        return "invalid username"
    else:
        return x+"@ss.com"
    
list(map(email, l1))

['sumit@ss.com',
 'rakesh@ss.com',
 'mahesh@ss.com',
 'ajay@ss.com',
 'deepak@ss.com',
 'invalid username']

In [119]:
## Filter

# filter out the elemnts for a list if the function return True

l1 = [2,4,4,5,7,9,76,5,3,2]

def even_num(x):
    return x%2==0

# list(filter(even_num, l1))

list(filter(lambda x: x%2==0, l1))

[2, 4, 4, 76, 2]

In [112]:
# Question
l1 = ["sumit", "rakesh", "mahesh", "ajay", "deepak", "3ishwar"]


def check_username(x):
    return x[0] not in "0123456789"

list(filter(check_username, l1))

['sumit', 'rakesh', 'mahesh', 'ajay', 'deepak']

In [114]:
## Reduce

from functools import reduce

In [117]:
l1 = [1,2,3,4,5,6]

def add_list(x,y):
    return x+y

reduce(add_list, l1[::-1])

21

In [118]:
# Lambda

reduce(lambda x, y:x+y, l1)

21