In [1]:
# Integers
# Float
# String

# Objects
# Lists
# Tuple
# Dictionaries
# Sets

In [ ]:
# Agenda:
# Conditional statements-- If -else
# For loops
# While loops
# Function in Python

In [ ]:
# assignment
# a = "sumit": assigning value "sumit" to the variable a
# a=="sumit": check

# ==: Equals to
# !=: Not equal to

In [4]:
a = "sumit"
# Check if a is sumit or not?

# if condition: if this is true-do something
if a!="sumit":
    print("Yes")
else:
    print("No")

No

In [12]:
# How to write mutiplt conditions

# a = "Sumit": print: Yes, a =" Python": Ok: a == anything: Print: No

a = "Python"

if a=="sumit":
    print("Yes")
elif a.lower()=="python":
    print("Ok")
else:
    print("No")

Ok

In [9]:
a.lower()

'python'

In [11]:
"I love Python".upper()

'I LOVE PYTHON'

## Operator

In [15]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [16]:
range(0,10)

range(0, 10)

In [19]:
# Modulo
# remainder
10%4

2

## For loops

In [20]:
# When we should use a loop and for loop?
# Whenever we need to do some task for n times, we use loops

# For: When I know, how many times I should be running my loop
# While: When you know the condition. If you wanted to run a loop until a condition is met, we use a while loop

In [ ]:
A ------ B

In [21]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [24]:
for i in range(0,10):
    print("Sumit")

Sumit
Sumit
Sumit
Sumit
Sumit
Sumit
Sumit
Sumit
Sumit
Sumit

#### Question
1                                                                                                             
22                                                                                                            
333                                                                                                           
4444                                                                                                          
55555                                                                                                         
666666                                                                                                        
7777777                                                                                                       
88888888                                                                                                      
999999999

In [34]:
# How many times, I need to run my loop?
for i in range(1,10):
    print(str(i)*i)

1
22
333
4444
55555
666666
7777777
88888888
999999999

In [31]:
# i-- int
print("1"*1)
print("2"*2)
print("3"*3)

1
22
333

In [ ]:
i = '1' *1 = 1
i = '2' * 2 = 22

In [29]:
'9'*9

'999999999'

In [38]:
13%2

1

In [ ]:
## for the even number between 1 to 100, print "Yes" else print"No"

In [39]:
for i in range(1,101):
    if i%2==0:
        print("Yes")
    else:
        print("No")

No
Yes
No
Yes
No
Yes
No
Yes
No
Yes
No
Yes
No
Yes
No
Yes
No
Yes
No
Yes
No
Yes
No
Yes
No
Yes
No
Yes
No
Yes
No
Yes
No
Yes
No
Yes
No
Yes
No
Yes
No
Yes
No
Yes
No
Yes
No
Yes
No
Yes
No
Yes
No
Yes
No
Yes
No
Yes
No
Yes
No
Yes
No
Yes
No
Yes
No
Yes
No
Yes
No
Yes
No
Yes
No
Yes
No
Yes
No
Yes
No
Yes
No
Yes
No
Yes
No
Yes
No
Yes
No
Yes
No
Yes
No
Yes
No
Yes
No
Yes

In [42]:
l = ["Sumit", "Session", "Python", "Hadoop"]
for i in l:
    print(i)

Sumit
Session
Python
Hadoop

In [43]:
a = "I love python"
for i in a:
    print(i)

I

l
o
v
e

p
y
t
h
o
n

In [52]:
l1 = list(range(1,101))
l1
# Count the how many numbers between 1-100 are excatly divisible by 5
c = 0
for i in l1:
    if i%5==0:
        c = c+1

In [53]:
c

20

In [ ]:
## Question

# Write a Python code to create and print a list where the values are square of numbers between 1 and 30 (both included)

In [54]:
l1 = [1,2,3,4,5]
# [1,4,9,16,25]

In [57]:
l1*2

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [58]:
new_list = []
for i in l1:
    new_list.append(i**2)

In [59]:
new_list

[1, 4, 9, 16, 25]

In [63]:
## Question

# I wanted to count the how many even number and how many odds numbers are there between 1-100

e = 0
o = 0
for i in range(1, 101):
    if i%2==0:
        e+=1
        #e = e+1
    else:
        #o = o+1
        o+=1

In [64]:
e

50

In [65]:
o

50

In [67]:
s = "I love Python and Machine Learning"
s.split()

['I', 'love', 'Python', 'and', 'Machine', 'Learning']

In [69]:
## Question

s = "I love Python and Machine Learning"
# Return the string without the keyword Python
s1 = []
for i in s.split():
    if i.lower() != "python":
        s1.append(i)

In [71]:
" ".join(s1)

'I love and Machine Learning'

In [72]:
## Dictionaries

d1 = {"a":1, "b":2, "c":3, "d":4}
d1.keys()

dict_keys(['a', 'b', 'c', 'd'])

In [73]:
d1.values()

dict_values([1, 2, 3, 4])

In [78]:
for i, j in d1.items():
    print(i, j)

a 1
b 2
c 3
d 4

In [76]:
list(d1.items())

[('a', 1), ('b', 2), ('c', 3), ('d', 4)]

In [80]:
## Operator
# Enumerate
l1 = ["Sumit", "Session", "Python", "Machine Learning"]
list(enumerate(l1))

[(0, 'Sumit'), (1, 'Session'), (2, 'Python'), (3, 'Machine Learning')]

In [82]:
for i,j in enumerate(l1):
    print(i, j)

0 Sumit
1 Session
2 Python
3 Machine Learning

In [84]:
## operator
## ZIP

l1 = ["Sumit", "Session", "Python", "Machine Learning"]
l2 = ["Shukla", "Python", "3", "Data Science"]

# [("Sumit", "Shukla"), ("Session", "Python"), ("Python", 3)]

list(zip(l1,l2))

[('Sumit', 'Shukla'),
 ('Session', 'Python'),
 ('Python', '3'),
 ('Machine Learning', 'Data Science')]

## While

In [85]:
# While is used when I don't know how many times I wanted to run the loop but I know the condtion

a = 0

while a<=10:
    print("The value of a is less than 10")
    a+=1

The value of a is less than 10
The value of a is less than 10
The value of a is less than 10
The value of a is less than 10
The value of a is less than 10
The value of a is less than 10
The value of a is less than 10
The value of a is less than 10
The value of a is less than 10
The value of a is less than 10
The value of a is less than 10

In [ ]:
# Question: 
# Write a Python program to sum of two given integers. However, if the sum is between 15 to 20 it will return 20.

l1 = [1,2,3,4,5,9,10,11,2,12,6,8,4,3,32]
l2 = [5,7,3,2,4,699,5,3,22,4,6,8,822,34]