In [2]:
# This is my comment
print("Hello World")

Hello World

In [ ]:
# This is a comment

# This is level-1 heading

## Level-2

### Level-3

- Point-1
- Point-2
- Point-3

##  Data Structues

- String : "This is my first class on Python"
- Integer : 12, 13, 14
- Float: 12.3, 13.4, 15.9

## Object

- List
- Tuple
- Dictionaries
- Sets

In [3]:
# a is a Variable
a = 12
# a contains a int

In [4]:
# Printing the value of a
print(a)

12

In [5]:
# The returned output
a

12

In [6]:
type(a)

int

In [7]:
b = 'Python class-1'

In [8]:
type(b)

str

In [9]:
print(b)

Python class-1

In [13]:
b

'Python class-1'

In [ ]:
# Shift + Enter : Run the code

In [14]:
c = 12.2

In [15]:
type(c)

float

In [16]:
print(c)

12.2

In [17]:
c

12.2

In [18]:
# Magic Command

%whos

Variable   Type     Data/Info
-----------------------------
a          int      12
b          str      Python class-1
c          float    12.2

## Object Lists

In [19]:
# To create a list, we use []

l = [1,2,3,[1,2,3], "hello", 14.5]

In [20]:
l

[1, 2, 3, [1, 2, 3], 'hello', 14.5]

In [22]:
type(l)

list

In [23]:
%whos

Variable   Type     Data/Info
-----------------------------
a          int      12
b          str      Python class-1
c          float    12.2
l          list     n=6

In [24]:
# Length of a list

len(l)

6

In [28]:
l

[1, 2, 3, [1, 2, 3], 'hello', 14.5]

In [27]:
# Selecting, Indexing, Slicing

l[0]

1

In [29]:
l[1]

2

In [30]:
l[3]

[1, 2, 3]

In [32]:
# In indexing, the left side is not considered
l[0:4]

[1, 2, 3, [1, 2, 3]]

In [33]:
l[2:5]

[3, [1, 2, 3], 'hello']

In [34]:
l[:4]

[1, 2, 3, [1, 2, 3]]

In [35]:
l[:]

[1, 2, 3, [1, 2, 3], 'hello', 14.5]

In [36]:
l[-1]

14.5

In [38]:
l[-2]

'hello'

In [39]:
l[-5:-1]

[2, 3, [1, 2, 3], 'hello']

In [40]:
#By default indexing works from left to right
l[-1:-5]

[]

In [41]:
# Steps Size

l

[1, 2, 3, [1, 2, 3], 'hello', 14.5]

In [42]:
l[0:4:2]

[1, 3]

In [43]:
l[2: :2]
# [3, "hello"]

[3, 'hello']

In [44]:
# Negative Step

# By default the indexing works from left to right but if we use a negative step size, we can work on indexing from right to left
l[::-1]

[14.5, 'hello', [1, 2, 3], 3, 2, 1]

In [45]:
l

[1, 2, 3, [1, 2, 3], 'hello', 14.5]

In [46]:
# Negative Indexing
l[-1:-5:-1]

[14.5, 'hello', [1, 2, 3], 3]

### From the input list, access the following things:
###### input_list=["mouse","rat",[1, 3, 5], ['b','d','g']]
1. From the list, find out the length of the second element of the list
2. Print the character 's' from the given list.
3. Access the character 'd' using negative indexing

In [47]:
input_list=["mouse","rat",[1, 3, 5], ['b','d','g']]

In [49]:
len(input_list[1])

3

In [51]:
input_list[0][-2]

's'

In [53]:
input_list[-1][-2]

'd'

## Functions that we can work on with lists

In [54]:
l

[1, 2, 3, [1, 2, 3], 'hello', 14.5]

In [55]:
# Add new element to a list
# Append
# Insert

l.append("Sumit")

In [56]:
l

[1, 2, 3, [1, 2, 3], 'hello', 14.5, 'Sumit']

In [57]:
l.insert(1, "Sumit Shukla")
# index position, where you wanted to insert the new element
# Second input: new element

In [58]:
l

[1, 'Sumit Shukla', 2, 3, [1, 2, 3], 'hello', 14.5, 'Sumit']

In [59]:
## Removing a element

# pop # Permanent operation and this will remove element based on the index value
# Remove # Element name, permanent operation

l.pop()

'Sumit'

In [61]:
l.pop()

14.5

In [63]:
l.pop(1)

'Sumit Shukla'

In [64]:
l

[1, 2, 3, [1, 2, 3], 'hello']

In [65]:
l.remove("hello")

In [66]:
l

[1, 2, 3, [1, 2, 3]]

In [67]:
l.remove([1,2,3])

In [68]:
l

[1, 2, 3]

In [69]:
l = ["Sumit", "python", "Session", "with", "Sumit"]
l.remove("python")

In [70]:
l

['Sumit', 'Session', 'with', 'Sumit']

In [71]:
l.pop(0)

'Sumit'

In [72]:
l

['Session', 'with', 'Sumit']

In [76]:
l.remove("Sumit")

In [77]:
l

['Session', 'with']

### input_list=[1, 3, 'new', 12.3, [1, 2, 3], 'old']
- Expected o/p: [1, 3, 'new',  [1, 3], 'old']
- Use negative index for deletion of element 2.

In [80]:
input_list=[1, 3, 'new', 12.3, [1, 2, 3], 'old']
# [1,2,'new', [1,3], 'old']

input_list.remove(12.3)
input_list[-2].pop(-2)
input_list

[1, 3, 'new', [1, 3], 'old']

## Sorting the list

In [83]:
l1 = [6,7,3,4,5,9,0,1,2,6,8,9,3,4]

# .sort() # permenent operation
# Sorted() # temperory operation

l1.sort()

In [82]:
l1

[0, 1, 2, 3, 3, 4, 4, 5, 6, 6, 7, 8, 9, 9]

In [84]:
l1

[6, 7, 3, 4, 5, 9, 0, 1, 2, 6, 8, 9, 3, 4]

In [85]:
sorted(l1)

[0, 1, 2, 3, 3, 4, 4, 5, 6, 6, 7, 8, 9, 9]

In [86]:
l1

[6, 7, 3, 4, 5, 9, 0, 1, 2, 6, 8, 9, 3, 4]

### nested_list = [[7,5,3], [6,1,2], [8,2,9]]
- Expected o/p: [[2,8,9], [1,2,6],[3,5,7]]
- Use sort() and reverse()

In [89]:
# Hint
# sort each sub list one by one and then reverse the list
nested_list = [[7,5,3], [6,1,2], [8,2,9]]
nested_list[0].sort()
nested_list[1].sort()
nested_list[2].sort()

In [91]:
nested_list[::-1]

[[2, 8, 9], [1, 2, 6], [3, 5, 7]]

In [92]:
nested_list.reverse()
# Permanent function

In [93]:
nested_list

[[2, 8, 9], [1, 2, 6], [3, 5, 7]]

### Print reverse of a list after deleting the second largest element
- sample_input =[17,3,44,8,22,1]
- Expected o/p:=[1, 8, 44, 3, 17]

In [94]:
sample_input =[17,3,44,8,22,1]
sample_input.remove(22)
sample_input.reverse()

In [95]:
sample_input

[1, 8, 44, 3, 17]

In [98]:
sample_input =[17,3,44,8,22,1]
key = sorted(sample_input)[-2]

In [99]:
sample_input.remove(key)

In [100]:
sample_input.reverse()

In [101]:
sample_input

[1, 8, 44, 3, 17]