## Revision

### What is Python: 
### Basic Data type for Python:
1. Int
2. String
3. Float

### Python Objects

1. Lists
2. Tuples
3. Dictionaries
4. String Manipulation

### [ ]: Indexing

In [1]:
# Revsion Q-1

l1 = [[7,5,3], [6,1,2], [8,2,9]]

# [[3,5,7], [1,2,6], [9,2,8]]

l1[0].sort()
l1[1].sort()
l1[2].reverse()

In [2]:
l1

[[3, 5, 7], [1, 2, 6], [9, 2, 8]]

In [4]:
l2 = [[7,"Hi",3], [6,"I'm",2], [8,"Sumit",9]]

# [[7,3], [6,2], [8,9]]

l2[0].remove("Hi")
l2[1].remove("I'm")
l2[2].remove("Sumit")
l2

[[7, 3], [6, 2], [8, 9]]

### Lists: Python objects that can hold anthing.  [ ]
1. We can delete a item from a list
2. We can add a item
3. We can replace a item

### Tuple: Immuitable: They can't manipulated once they are created. ( )
1. We can't add any more item once they are created.
2. We can't delete any item once they are created.

In [5]:
t1 = (1,2,3,4)

In [6]:
type(t1)

tuple

In [7]:
%whos

Variable   Type     Data/Info
-----------------------------
l1         list     n=3
l2         list     n=3
t1         tuple    n=4

In [10]:
l1

[[3, 5, 7], [1, 2, 6], [9, 2, 8]]

In [9]:
# Create a tuple from a list

tuple(l1)

([3, 5, 7], [1, 2, 6], [9, 2, 8])

In [11]:
# Add something to tuple

t1.append("Sumit")

AttributeError: 'tuple' object has no attribute 'append'

In [12]:
t1.insert(0, "Sumit")

AttributeError: 'tuple' object has no attribute 'insert'

In [15]:
t1[0] = 5

TypeError: 'tuple' object does not support item assignment

In [16]:
del t1[0]

TypeError: 'tuple' object doesn't support item deletion

In [18]:
t2 = (5,6,7)
# New tuple

t3 = t1+t2

In [19]:
%whos

Variable   Type     Data/Info
-----------------------------
l1         list     n=3
l2         list     n=3
t1         tuple    n=4
t2         tuple    n=3
t3         tuple    n=7

### Insert "zero" at the start position (1,2,"three", 4.0)
Expected o/P: ("zero",1,2,"three", 4.0)

In [29]:
# Method-1


t5 = (1,2,"three", 4.0)
l5 = list(t5)
l5.insert(0, "Zero")
tuple(l5)

('Zero', 1, 2, 'three', 4.0)

### Dictionary { }

Dictionaries are unorderd collection

In [30]:
# We collect the data in the form of Key and Value pair
# English Language Dictionary

# Alphabat: Key
# Words: Values
# Value: Contain anything

d1 = {"A": ["Apple", "Agra", "Ajay"], "B":["Boy", "Bat", "Bubble"], "C":["Cat", "Candle", "Copy"]}

In [31]:
d1

{'A': ['Apple', 'Agra', 'Ajay'],
 'B': ['Boy', 'Bat', 'Bubble'],
 'C': ['Cat', 'Candle', 'Copy']}

In [32]:
type(d1)

dict

In [33]:
%whos

Variable   Type     Data/Info
-----------------------------
d1         dict     n=3
l1         list     n=3
l2         list     n=3
l5         list     n=5
t1         tuple    n=4
t2         tuple    n=3
t3         tuple    n=7
t5         tuple    n=4
t6         tuple    n=4

In [34]:
d1

{'A': ['Apple', 'Agra', 'Ajay'],
 'B': ['Boy', 'Bat', 'Bubble'],
 'C': ['Cat', 'Candle', 'Copy']}

In [35]:
# Extract some item from a dictionary
d1['A']

['Apple', 'Agra', 'Ajay']

In [36]:
d1['B']

['Boy', 'Bat', 'Bubble']

In [37]:
d1['C']

['Cat', 'Candle', 'Copy']

In [38]:
d1['D']

KeyError: 'D'

In [39]:
# dict.get()
# extract the value from a dictionary

d1.get("A")

['Apple', 'Agra', 'Ajay']

In [40]:
d1.get("B")

['Boy', 'Bat', 'Bubble']

In [41]:
d1.get("D")

In [44]:
d1.get("F", "Key Not Found")

'Key Not Found'

In [45]:
# No duplicate key allowed
d2 = {"A":1, "B":2, "C":3, "C":4}

In [46]:
d2

{'A': 1, 'B': 2, 'C': 4}

In [47]:
## Functions
d1.keys()

dict_keys(['A', 'B', 'C'])

In [48]:
d1.values()

dict_values([['Apple', 'Agra', 'Ajay'], ['Boy', 'Bat', 'Bubble'], ['Cat', 'Candle', 'Copy']])

In [54]:
item1 = d1.items()

In [59]:
list(item1)

[('A', ['Apple', 'Agra', 'Ajay']),
 ('B', ['Boy', 'Bat', 'Bubble']),
 ('C', ['Cat', 'Candle', 'Copy'])]

### d={ 'B': [3,4,5], 'C':{'K':15},'A': 1,'D':5}
1. Print 4 from the dictionary
2. Access 15 from the dictionary

In [60]:
d={ 'B': [3,4,5], 'C':{'K':15},'A': 1,'D':5}

In [62]:
d.get("B")[-2]
# d['B']

4

In [64]:
d.get("C").get("K")

15

In [65]:
# We don't have indexed but keys
d[0]

KeyError: 0

### Sort dictionary by keys, d={ 'B': 2, 'C': 4,'A': 1,'D':5}
Expected o/p: { 'A': 1,'B': 2, 'C': 4,'D':5}

In [66]:
d={ 'B': 2, 'C': 4,'A': 1,'D':5}
d.items()

dict_items([('B', 2), ('C', 4), ('A', 1), ('D', 5)])

In [70]:
# temperory function
d_out = dict(sorted(d.items()))

In [71]:
d_out

{'A': 1, 'B': 2, 'C': 4, 'D': 5}

In [72]:
%whos

Variable   Type          Data/Info
----------------------------------
d          dict          n=4
d1         dict          n=3
d2         dict          n=3
d_out      dict          n=4
item1      dict_items    dict_items([('A', ['Apple<...>at', 'Candle', 'Copy'])])
l1         list          n=3
l2         list          n=3
l5         list          n=5
t1         tuple         n=4
t2         tuple         n=3
t3         tuple         n=7
t5         tuple         n=4
t6         tuple         n=4

In [76]:
d_out["E"] = 5

In [77]:
d_out == d

False

In [75]:
l1 == l1.sort()

False

In [78]:
## How we can add a item to a dictionary

d_emp = {}

In [79]:
d_emp

{}

In [80]:
# Adding a key and value pair to a dictionary
# Assignment
d_emp["A"] = 1

In [81]:
d_emp

{'A': 1}

In [82]:
d_emp["B"] = 2

In [83]:
d_emp

{'A': 1, 'B': 2}

### Strings

In [85]:
a = 'I love Python'
a

'I love Python'

In [90]:
a = "I love Python"

In [91]:
type(a)

str

In [86]:
type(a)

str

In [88]:
a = "I love sumit shukla's session"

In [89]:
a

"I love sumit shukla's session"

In [92]:
a = "I Love Pyt"
#  0123456789

a[2:6]

'Love'

In [95]:
# String dosen't support assignment
a

'I Love Pyt'

In [97]:
a[0] = "i"

TypeError: 'str' object does not support item assignment

In [99]:
a+"hon"

'I Love Python'

In [93]:
# \n new line character
print("My name is sumit \nI am a Data Scientist")

My name is sumit
I am a Data Scientist

In [94]:
"My name is sumit \nI am a Data Scientist"

'My name is sumit \nI am a Data Scientist'

### Functions
- upper()
- lower()
- capitalize()
- title()
- split()

In [101]:
a = "My name is sumit and i take live session on, session with sumit"

In [102]:
a

'My name is sumit and i take live session on, session with sumit'

In [103]:
a.upper()

'MY NAME IS SUMIT AND I TAKE LIVE SESSION ON, SESSION WITH SUMIT'

In [104]:
a.lower()

'my name is sumit and i take live session on, session with sumit'

In [105]:
a.title()

'My Name Is Sumit And I Take Live Session On, Session With Sumit'

In [107]:
b = "i love python"

In [108]:
b.capitalize()

'I love python'

In [111]:
a

'My name is sumit and i take live session on, session with sumit'

In [110]:
a.split(" ")
# Sapce = Delimiter

['My',
 'name',
 'is',
 'sumit',
 'and',
 'i',
 'take',
 'live',
 'session',
 'on,',
 'session',
 'with',
 'sumit']

In [112]:
a.split(',')

['My name is sumit and i take live session on', ' session with sumit']

In [113]:
# split ---> Convert your string into a list
# join ----> Convert a list into a string

l9 = ['Please', 'Share', 'My', 'Videos']

" ".join(l9)

'Please Share My Videos'

In [114]:
"-".join(l9)

'Please-Share-My-Videos'

In [115]:
"_".join(l9)

'Please_Share_My_Videos'

In [117]:
print('''This is a multiline string
I love PYTHON
pLEASE SUBSCRIBE TO MY CHANNEL''')

This is a multiline string
I love PYTHON
pLEASE SUBSCRIBE TO MY CHANNEL

### Make first characters of each sentence to upper case.
input="i am loving python.sumit's sessions are awesome."


Expected o/p: "I am loving python.Sumit's sessions are awesome."

In [118]:
a ="i am loving python.sumit's sessions are awesome."

In [120]:
l10 = a.split(".")

In [123]:
l10[0] = l10[0].capitalize()

In [124]:
l10[1] = l10[1].capitalize()

In [125]:
l10

['I am loving python', "Sumit's sessions are awesome", '']

In [126]:
".".join(l10)

"I am loving python.Sumit's sessions are awesome."

### Sets {} without key and value--> set

1. It will consist of the unique elements
2. It will be sorted

In [129]:
l11 = [1,2,3,4,4,5,5,1,6,7,3]

In [130]:
l11

[1, 2, 3, 4, 4, 5, 5, 1, 6, 7, 3]

In [132]:
s1 = set(l11)

In [133]:
type(s1)

set

In [134]:
s1.add(10)

In [135]:
s1

{1, 2, 3, 4, 5, 6, 7, 10}

In [136]:
s1.add(0)

In [137]:
s1

{0, 1, 2, 3, 4, 5, 6, 7, 10}