n=4

* * * *
* * * *
* * * *
* * * *

In [12]:
# One for loop when the element of the columns are not changing with the change in the rows

n = int(input())

for i in range(n):
    print("* "*n)

9
* * * * * * * * *
* * * * * * * * *
* * * * * * * * *
* * * * * * * * *
* * * * * * * * *
* * * * * * * * *
* * * * * * * * *
* * * * * * * * *
* * * * * * * * *

In [14]:
type("*")

str

n = 3

3 3 3
3 3 3
3 3 3

In [11]:
n = int(input())

for i in range(n):
    print((str(n)+" ")*n)

9
9 9 9 9 9 9 9 9 9
9 9 9 9 9 9 9 9 9
9 9 9 9 9 9 9 9 9
9 9 9 9 9 9 9 9 9
9 9 9 9 9 9 9 9 9
9 9 9 9 9 9 9 9 9
9 9 9 9 9 9 9 9 9
9 9 9 9 9 9 9 9 9
9 9 9 9 9 9 9 9 9

In [17]:
print(str(3)+" ")

3

In [16]:
str(3)

'3'

n = 5

A 
B B 
C C C 
D D D D 
E E E E E

In [27]:
chr(65+1)

'B'

In [30]:
n = int(input())
for i in range(n):
    print((chr(65+i)+ " ")*(i+1))

5
A
B B
C C C
D D D D
E E E E E

* * * * * 
* * * * 
* * * 
* * 
*

In [31]:
n = int(input())
for i in range(n):
    print("* "*(n-i))

5
* * * * *
* * * *
* * *
* *
*

1 2 3 4 5 
1 2 3 4 
1 2 3 
1 2 
1

In [44]:
n = int(input())
for row in range(n):
    for column in range(n-row):
        print(column+1, end = " ")
    print()

9
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [43]:
print("1")

1

In [35]:
for i in range(5):
    print(i, end = "")

01234

In [34]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [ ]:
A B C D E
A B C D
A B C
A B
A

In [45]:
chr(65)

'A'

In [46]:
n = int(input())
for row in range(n):
    for column in range(n-row):
        print(chr(65+column), end = " ")
    print()

8
A B C D E F G H
A B C D E F G
A B C D E F
A B C D E
A B C D
A B C
A B
A

    1 
   2 2 
  3 3 3 
 4 4 4 4 
5 5 5 5 5

In [48]:
n = int(input())
for i in range(n):
    print(" "*(n-i-1)+ (str(i+1)+" ")*(i+1))

9
        1
       2 2
      3 3 3
     4 4 4 4
    5 5 5 5 5
   6 6 6 6 6 6
  7 7 7 7 7 7 7
 8 8 8 8 8 8 8 8
9 9 9 9 9 9 9 9 9

    E 
   E D 
  E D C 
 E D C B 
E D C B A

In [64]:
n = int(input())
for row in range(n):
    print(" "*(n-row-1), end = "")
    for column in range(row+1):
        print(chr(64+(n-column)), end = " ")
    print()

9
        I
       I H
      I H G
     I H G F
    I H G F E
   I H G F E D
  I H G F E D C
 I H G F E D C B
I H G F E D C B A

    * 
   * * 
  * * * 
 * * * * 
* * * * * 
 * * * * 
  * * * 
   * * 
    *

In [71]:
n = int(input())
for i in range(n):
    print(" "*(n-i-1)+ "* "*(i+1))

for j in range(n-1):
    print(" "*(j+1)+ "* "*(n-j-1))

20
                   *
                  * *
                 * * *
                * * * *
               * * * * *
              * * * * * *
             * * * * * * *
            * * * * * * * *
           * * * * * * * * *
          * * * * * * * * * *
         * * * * * * * * * * *
        * * * * * * * * * * * *
       * * * * * * * * * * * * *
      * * * * * * * * * * * * * *
     * * * * * * * * * * * * * * *
    * * * * * * * * * * * * * * * *
   * * * * * * * * * * * * * * * * *
  * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * *
  * * * * * * * * * * * * * * * * * *
   * * * * * * * * * * * * * * * * *
    * * * * * * * * * * * * * * * *
     * * * * * * * * * * * * * * *
      * * * * * * * * * * * * * *
       * * * * * * * * * * * * *
        * * * * * * * * * * * *
         * * * * * * * * * * *
          * * * * * * * * * *
           * * * * * * * * *
            * * * * * * * *
             * * * * * * *
              * * * * * *
               * * * * *
                * * * *
                 * * *
                  * *
                   *